// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
comment-box {
  float: left;
  width: 100%;
  background-color: aliceblue;
  border: 2px solid;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 8px;
  
  h1,h2,h3,h4,p,a{
    color: #0c0c0c;
  }
}

.row {
  margin:0px;
}

@include media-breakpoint-up(md) {
  .col-md-5 {
        text-align: right;
  }
}
