
@import "bootstrap";
@import "comments.scss";
@import "welcome.scss";
@import "navigation.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "articles.scss";

/*
*{
  border: 2px red dashed;
}
*/

html, body{
    height:calc(100%);
}
body{
  background-image: url("background.jpeg");
  min-height: 75rem;
  padding-top: 2.5rem;
}
list-header{
  border:4px solid;
    background-color: #AAAAAA;
    div{
      float:left;
    }
}

h1, h2, h3, h4, p{
  color: #F5F5F5;
}

.container{
  //background-color: rgba($color: grey, $alpha: 0.15);
  padding: 15px;
  border-left: 2px solid rgb(63, 63, 63);
  border-right: 2px solid rgb(63, 63, 63);
  height:100%;
}

article-list.col{
  padding-left: 0px;
  padding-right: 0px;
}

listed-article:hover{
  background-color: rgb(240, 240, 240);
}

listed-article{
  header{
    border-bottom: solid black 1px;
  }

  border-radius: 8px;
  border-top-left-radius: 20px;

  h1,h2,h3,h4,p,a{
    color: #0c0c0c;
  }

  p{
    font-size: 18px;
    text-align: justify;
  }

  border:3px black solid;
  background-image: radial-gradient(circle, #F5F5F5, rgb(216, 216, 216) );
  padding:4px;
  vertical-align: middle;
  .btn{
      margin:2px;
  }
  div.col-3{
    padding-left: 2px;
    padding-right: 2px;
  }
  header{
    vertical-align: top;
  }
  article-date{
    text-align: right;
  }
  ~listed-article.row{
    border-top: 2px solid;
    margin-top: 6px;
  }
}

section{
  padding-top: 5px;
  padding-bottom: 5px;
}

.fas.fas-btn{
  padding: 4px;
  color: rgb(231, 147, 224) !important;
}

.fas-btn:hover{
  color: rgb(185, 32, 32) !important;
  text-decoration: none;
}

.fas, .fab{
  color: rgb(144, 231, 243) !important;
}

button{
  border: 0px;
  text-align: left;
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
}

datebox{
  max-width: 16em;
  text-align: right;


}

datebox.col-lg-1, datebox.col-md-2, datebox.col-12{
  padding: 0px;
  padding-right: 10px;
  margin-left: -10px;
}

button:active{
  border: 0px;
}

.jumbotron{
  background-color: white;
}