.navbar{
    background-color: #050031 !important;
    padding: 0px;
}

.nav-item{
    padding: 4px;
}

.nav-item a{
    font-weight: bold;
}

.nav-item a:hover{
    color: #66a8ff;
}

.navbar-toggler{
    border: 2px solid white;
}

.form-control{
    border: 3px solid #0a0064;
  }